<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.full_name || @user.email %>, Your insurance is expired.</h2>
    <p>
      Please upload new insurance contract.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>