<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
	<h2>Your password has Expired</h2>
	<hr>
	<p>Hi <%= @user.email %>,</p>
	<p>We wanted to let you know that your password has expired. So,Please renew it.</p>
	<%= link_to 'Change My Password', users_password_expired_change_password_url %>
</body>
</html>