<tr>
	<td><%= equipment_type.name %></td>
	<% if has_permission(controller_path,"update") || has_permission(controller_path,"destroy") %>
		<td>
		  <% if has_permission(controller_path,"update") %>
				<%= link_to edit_admin_equipment_type_path(equipment_type) do %><i class="fa fa-edit"></i><% end %>
			<% end %>
		  <% if has_permission(controller_path,"destroy") %>
				<%= link_to admin_equipment_type_path(equipment_type), data: { confirm: "Are you sure ?" }, method: :delete do %><i class="fa fa-trash"></i><% end %>
			<% end %>
		</td>
	<% end %>
</tr>