<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-sm-9">
      <h2>Company</h2>
    </div>
    <div class="col-md-3 col-sm-3">
      <% if has_permission(controller_path,"create") %>
    	 <%= render "actions" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%# if has_permission(controller_path,"search") %>
        <!-- <form method="#" action="#" class="form-horizontal">
          <div id="search-information" class="box white-bg">
            <div class="form-heading">
                <h3>search</h3>
                <div class="divider dark-gray-bg"></div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <label for="provider" class="col-sm-12">Provider</label>
                  <select name="provider" class="form-control ">
                    <option value=" ">Select a Provider</option>
                    <option value="1 ">1</option>
                    <option value="2 ">2</option>
                  </select>
                </div>
                <div class="col-md-4 col-sm-4">
                  <label for="model" class="col-sm-12">Model</label>
                  <select name="model" class="form-control ">
                    <option value=" ">Select a Model</option>
                    <option value="1 ">1</option>
                    <option value="2 ">2</option>
                  </select>
                </div>
                <div class="col-md-4 col-sm-4">
                  <label for="serial-number" class="col-sm-12">Serial number</label>
                  <select name="serial-number" class="form-control ">
                    <option value=" ">Select a Serial number</option>
                    <option value="1 ">1</option>
                    <option value="2 ">2</option>
                  </select>
                </div>
                <div class="col-md-2 col-md-offset-10 col-sm-2 col-sm-offset-10">
                  <button type="button " class="btn btn-default gray-bg pull-right">
                      Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form> -->
      <%# end %>
      <div id="search-information" class="box white-bg">
        <div class="table-responsive">
          <table class="table">
            <thead class="table-heading">
              <tr>
                <th>Name</th>
                <% if has_permission(controller_path,"update") || has_permission(controller_path,"destroy") %>
                  <th>Action</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
            	<%= render @resources %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
