<tr>
	<td>
		<%= invoices_patient.patient.user.first_name %>
	</td>
	<td>
		<%= invoices_patient.form.name %>
	</td>
	<td>
		<%= invoices_patient.amount %>
	</td>
  <td>
    <%= invoices_patient.status %>
  </td>
</tr>
