<tr>
	<td><%= role.name_en %></td>
	<td><%= role.name_fr %></td>
	<% if has_permission(controller_path,"update") || has_permission(controller_path,"destroy") %>
		<td>
			<% if can? :manage, role %>
	      	<% if has_permission(controller_path,"update") %>
						<%= link_to edit_admin_role_path(role) do %><i class="fa fa-edit"></i><% end %>
					<% end %>
	      	<% if has_permission(controller_path,"destroy") %>
						<%= link_to admin_role_path(role), data: { confirm: "Are you sure ?" }, method: :delete do %><i class="fa fa-trash"></i><% end %>
					<% end %>
			<% end %>
			</td>
	<% end %>
</tr>