/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require jquery-ui
 *= require admin/equipment.scss
 *= require admin/patients.scss
 *= require admin/forms.scss
 *= require admin/settings.scss
 *= require admin.scss
 * require_self
 */
 @import "font-awesome.min";
 @import "bootstrap";
 @import "style";
 @import "password_meter";
 @import "select2";
 @import "bootstrap-datepicker3";
 @import "font-awesome";
 @import "login";
 @import "admin/users";
 @import "custome";
 @import "jquery.tagit";

/* Convert look of form submit button to link */
.localize-lang-droplist {
 	.dropdown-menu .a-to-btn{
	 	padding: 10px 25px;
	 	text-decoration: none;
	 	display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background-color: transparent;
    width: 100%;
    text-align: left;

    &:hover {
    	background-color: #9a9a9a !important;
    	color: #fff;
    	border-radius: 0px;
    	text-decoration: none;
    }
 	}
}
/* Notification background class*/
.unread_class{
    background-color:#eeeeea
}
.read_class{
    background-color:#fff
}