<div id="pswd_info">
	<meter max= "4", id = "password-strength-meter"></meter>
	<p id="password-strength-text"></p>
  <h4>Password must meet the following requirements:</h4>
  <ul>
    <li id="lower" class="invalid">At least <strong>one lowercase</strong></li>
    <li id="upper" class="invalid">At least <strong>one uppercase</strong></li>
    <li id="number" class="invalid">At least <strong>one number</strong></li>
    <li id="special_char" class="invalid">At least <strong>one special character<br>(!@#$%^*-_+=)</strong></li>
    <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
  </ul>
</div>